{% extends 'base.html.twig' %}

{% block title %}Reservering index{% endblock %}

{% block body %}
    <h1>Reservering index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tafel</th>
                <th>Datum</th>
                <th>Tijd</th>
                <th>KlantId</th>
                <th>Aantal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservering in reserverings %}
            <tr onclick="location.href='/bestellingen?id={{ reservering.id }}'">
                <td>{{ reservering.id }}</td>
                <td>{{ reservering.Tafel }}</td>
                <td>{{ reservering.Datum }}</td>
                <td>{{ reservering.Tijd }}</td>
                <td>{{ reservering.KlantId }}</td>
                <td>{{ reservering.Aantal }}</td>
                <td>
                    <a href="{{ path('reservering_show', {'id': reservering.id}) }}">show</a>
                    <a href="{{ path('reservering_edit', {'id': reservering.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservering_new') }}">Create new</a>
{% endblock %}
