{% extends 'base.html.twig' %}
{% set total = 0 %}
{% block title %}Bon uitprinten{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <h2>Bon voor tafel {{ reservering.tafel }}</h2>
    <table class=table>
        <thead>
        <tr>
            <th>Aantal</th>
            <th>Product</th>
            <th>Prijs</th>
        </tr>
        </thead>
        <tbody>
        {% for item in Bestelling %}
            {% if item.Datum == 'now'|date('Y-m-d') %}
                <tr>

                    <td>{{ item.Aantal }}</td>
                    <td>{{ item.MenuItem }}</td>
                    <td>{{ item.Prijs }}</td>
                    {% set total = total + item.Prijs %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <p>Totaal bedrag is: {{ total }}</p>
    <p onclick="setPaidAmount();" id="paid">Klik hier om het betaalde bedrag in te vullen</p>
    <div id="back"></div>

    <script>
        function setPaidAmount() {
            var paid = prompt("Betaalde bedrag", "Bedrag in euro's");
            var method = prompt("Betaal methode", "contact of pin");

            if (paid != null) {
                if (paid < {{ total }}) {
                    document.getElementById("back").innerHTML =
                        "<p class='text-danger'>Het ingevulde bedrag is te weinig!</p>";
                    alert('Het ingevulde bedrag is te laag!');
                } else {
                    document.getElementById("paid").innerHTML =
                        "Betaald bedrag is: " + paid + " via betaalmethode " + method;

                    document.getElementById("back").innerHTML =
                        "<p>Het terug te geven bedrag is: " + (paid - {{ total }}) + "</p>"
                }
            }
        }
    </script>
{% endblock %}
