{% extends 'base.html.twig' %}

{% block title %}Bestelling{% endblock %}

{% block body %}
    <div class="d-block bg-primary" id="sidebar">
        <ul id="sidebar-nav nav">
            <button class="btn btn-secondary" onclick="location.href='{{ path('bestellingen') }}'">Bestellingen</button><br>
            <button class="btn btn-secondary" onclick="location.href='{{ path('bestellingen') }}'">Reserveringen</button><br>
            <button class="btn btn-secondary" onclick="location.href='{{ path('bestellingen') }}'">Overzichten</button><br>
            <button class="btn btn-secondary" onclick="location.href='{{ path('bestellingen') }}'">Gegevens</button><br>
        </ul>
    </div>
    <div class="">
        <h1>{{ Reservering.tafel }}</h1>
    </div>
    <div class="d-block bg-">
        <table>
            <th>
                Warme Dranken
            </th>
            <th>
                Koude Dranken
            </th>
            {% for %}
        </table>
    </div>

{% endblock %}
