{% extends 'base.html.twig' %}

{% block title %}Bestelling{% endblock %}

{% block body %}
    <h1>Bestelling</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bestelling.id }}</td>
            </tr>
            <tr>
                <th>Tafel</th>
                <td>{{ bestelling.Tafel }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ bestelling.Datum }}</td>
            </tr>
            <tr>
                <th>Tijd</th>
                <td>{{ bestelling.Tijd }}</td>
            </tr>
            <tr>
                <th>Aantal</th>
                <td>{{ bestelling.Aantal }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ bestelling.Prijs }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bestelling_index') }}">back to list</a>

    <a href="{{ path('bestelling_edit', {'id': bestelling.id}) }}">edit</a>

    {{ include('bestelling/_delete_form.html.twig') }}
{% endblock %}
